<!DOCTYPE html>
{% extends "base_generic.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>About</title>{% endblock %}
</head>
<body>
{% block content %}
    <h1>About Antony Best</h1>
<p>
    Graduate who has achieved a 2:2 honors
    degree from the University of Derby in England.
</p>
    <p>
    After achieving a one-year round the world trip he is
    someone whom is outgoing and self-motivated,
    </p>
    <p>
    an achiever who
    possesses excellent communication skills, with the ability to
    identify and solve problems in the most effective manner.
    </p>
    <p>
    Able to establish productive working relationships and rapport with
    individuals at all levels, with the commitment to provide the
    highest standard of customer care.
    </p>
{% endblock %}
</body>
</html>